{% extends 'base.html' %}
{% block content %}
    <div class="starter-template">
        <h1>CAS App</h1>
        <p class="lead">This is a sample project to demonstrate how everything works together</p>
    </div>

    <table class="table">
        <thead>
        <th>
            Router name
        </th>
        <th>
        </th>
        <th>
        </th>
        </thead>
        <tbody>
        {% for router in routers %}
            <tr>
                <td>
                    {{ router }}
                </td>
                <td>
                    <a href="/show_facts/{{ router }}">Show facts (NAPALM)</a>
                </td>
                <td>
                    <a href="/interface_status/{{ router }}">Show interface status (RESTconf)</a>
                </td>
            </tr>


        {% endfor %}
        </tbody>
    </table>
{% endblock %}