{% extends 'base.html' %}
{% block content %}
    <div class="starter-template">
        <h1>CAS App</h1>
        <p class="lead">Interfaces of {{ router }}</p>
    </div>

    <table class="table">
        <thead>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            IP address
        </th>
        </thead>
        <tbody>
        {% for name in interfaces %}
            <tr>
                <td>
                    {{ name }}
                </td>
                <td>
                    {{ interfaces[name]['description'] }}
                </td>
                <td>
                    {{ interfaces[name]['ipv4'] }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}